/* DEFAULTS */

:root{
    --black: #000;
    --primary: #081b4b;
    --secondary: #52c393;
    --secondary_trans: rgba(82, 195, 147, 0.05);
    --hover: #08164b;
    --border: #eee;
    --borderHover: #aaa;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /*background: linear-gradient(135deg, #081b4b,#09192D);*/
    background-color: #081b4b;
    width: 100%;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    overflow-x: hidden;
    padding: 0 0 0 20px;
}

h1{
    margin: 1rem 0 0 0;
}

p{
    margin: 0 0 2rem 0;
}

#email{
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: var(--secondary);
    padding: 0 0 0.5rem 0;
    width: 33.3%;
}

#email:focus{
    border-bottom: 1px solid var(--secondary);
    outline: none;
}

#typeOfMail{
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: var(--secondary);
    padding: 0 0 0.5rem 0;
}

#typeOfMail:focus{
    border-bottom: 1px solid var(--secondary);
    outline: none;   
}

#submit{
    margin: 1rem 0 0 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background: transparent;
    border: 1px solid var(--secondary);
    border-radius: 10px;
    color: white;
    font-weight: 900;
    transition: .3s ease-out;
}

#submit:hover{
    background-color: hsla(155, 48%, 54%, 0.2);
}